<link rel="stylesheet" type="text/css" href="/CSS/admin.css">
<div class="half-block">
    <div class="half-container teacher-container">

    </div>
</div>
<div class="half-block">
    <div class="half-container class-container">
            
    </div>
</div>

<script src="/JS/Admin.js"></script>