<link rel="stylesheet" type="text/css" href="/CSS/home.css"/>
<link rel="stylesheet" type="text/css" href="/CSS/glide.css">
<link rel="stylesheet" type="text/css" href="/CSS/glider.min.css">

{{!-- <div class="carousel-container"> --}}
  <div class="glider-contain">
    <div class="glider">
      <div class="banner-holder">
        <img class="banner" src="/IMG/Banner_1.jpg">
      </div>
      <div class="banner-holder">
        <img class="banner" src="/IMG/Banner_2.jpg">
      </div>
      <div class="banner-holder">
        <img class="banner" src="/IMG/Banner_3.jpg">
      </div>
    </div>

    <div role="tablist" class="dots"></div>
  </div>
{{!-- </div> --}}

<div class="cards-holder">
    <div class="card-container">
      <div class="card-plan">
        <h1 class="tittle">Plano Light</h1>
        <div class="card-img-holder"><img src="/IMG/light.png"></div>
        <p>Faça seus melhores alunos te notarem. Tenha até 2 páginas personalizadas dentro da aba de Matérias. Anúncios Limitados.</p>
        <button>Contratar</button>
      </div>
    </div>
    <div class="card-container">
      <div class="card-plan">
        <h1 class="tittle">Plano Free</h1>
        <div class="card-img-holder"><img src="/IMG/free.png"></div>
        <p>Você aparecerá na plataforma. Sem páginas personalizadas dentro da aba Matérias. Sem Anúncios.</p>
        <button>Contratar</button>
      </div>
    </div>
    <div class="card-container">
      <div class="card-plan">
        <h1 class="tittle">Plano Pro</h1>
        <div class="card-img-holder"><img src="/IMG/pro.png"></div>
        <p>Presença especial em todo site. Tenha até 5 páginas personalizadas dentro da aba de Matérias. Anúncios Ilimitados.</p>
        <button>Contratar</button>
      </div>
    </div>
</div>

<div class="teacher-holder"></div>
<script src="/JS/glider.min.js"></script>
<script src="/JS/Home.js"></script>