<link rel="stylesheet" type="text/css" href="/CSS/inst.css">

<div class="inst-holder" style="margin-bottom: 15rem;">
    <h2>Quem Somos?</h2>
    <p>
        A Animus é uma plataforma que foi fundada em 2021, que tem o intuito de trazer uma maior proximidade entre professores e alunos com uma interação 100% online, tudo isso com um design intuitivo e simples de ser usado aonde você tem uma maior liberdade para aprender! Com a Animus você pode escolher seu professor, horário e plataforma. Tudo isso de maneira gratuita. 
    </p>
</div>