<link rel="stylesheet" type="text/css" href="/CSS/inst.css">

<div class="inst-holder">
    <h2>Para Você Professor</h2>
    <p>
        Ganhe uma renda extra com suas aulas na Animus!  A Animus é uma plataforma que foi fundada em 2021, que tem o intuito de trazer uma maior proximidade entre professores e alunos com uma interação 100% online, Professores de qualquer lugar do Brasil poderão ter um canto para divulgarem seus trabalhos e matérias lecionadas, afim de impulsionarem suas atividades e mostrar aos diferentes alunos da plataforma o seu trabalho em questão. É possível por meio da plataforma determinar e marcar datas/horários para as aulas requeridas; conversar por meio de mensagens; página e perfil exclusivos para professores; além de poder impulsionar o seu perfil com o Animus+, uma assinatura de R$19,90 mensais que faz com que seu perfil tenha maior destaque na plataforma.
    </p>
</div>