<link rel="stylesheet" type="text/css" href="/CSS/teacherclass.css">

<div class="result-container">
    <div class="title-div">
        <h1></h1>
    </div>
    <div class="teachers-container">

    </div>
</div>

<script src="/JS/TeacherClass.js"></script>