<link rel="stylesheet" type="text/css" href="/CSS/user.css"/>
<link rel="stylesheet" href="/CSS/popups.css">

{{#if logged}}
<input id="USER_ID" type="text" style="display: none;" value="{{logged}}">
{{/if}}
<div class="user-holder">
    <div class="loader-holder"><div class="loader"></div></div>
    <nav style="opacity: 0; display: none;">
        <div class="half-block">
            <div class="img-holder">
                <img>
                <h2 class="professional-holder"></h2>
            </div>
            <div class="avaliação-holder">
                <div class="chat-button-holder">
                    <div class="chat-button" onclick="abrir('popup-wrapper')">
                      contratar
                    </div>
                </div>
                <h2>Avaliação</h2>
                <img src="/IMG/Star.png" decoding="async" width="120" height="120" data-file-width="15" data-file-height="15">
                <img src="/IMG/Star.png" decoding="async" width="120" height="120" data-file-width="15" data-file-height="15">
                <img src="/IMG/Star.png" decoding="async" width="120" height="120" data-file-width="15" data-file-height="15">
                <img src="/IMG/Star.png" decoding="async" width="120" height="120" data-file-width="15" data-file-height="15">
                <img src="/IMG/Half_Star.png" decoding="async" width="120" height="120" data-file-width="15" data-file-height="15">
            </div>
        </div>
        <div class="half-block"> 
            <div class="quarter-block">
                <div class="info-holder">
                    <h2 class="name"></h2>
                    <p class="email-holder">Email para contato: <a class="email"></a></p>
                    <p class="cell-holder">Número para contato: <a target="__blank" class="cell"></a></p>
                </div>
            </div>
            <div class="quarter-block">
                <span class="class-user-title">As matérias de interesse deste usuário são:</span>
                <span class="class-user"></span>
            </div>
        </div>
    </nav>
</div>
<div id="popup-wrapper">
          <div class="popup">
            <div class="popup-close" onclick="fecha('popup-wrapper')">x</div>
            <img src="/IMG/pix.png" alt="" id="pix">
            <div class="popup-content">
              <h2 class="pagamentotxt">etapa de pagamento</h2>
              <p class="pix">O pagamento será reavilzado por meio do PIX, que é um meio de pagamento instantanêo, pode ser acessado por apps como, Mercado Pago, Picpay, Paypal e muitos outros.</p>
              <img src="/IMG/qrcode.png" alt="" id="qrcode">
              <img src="/IMG/escaneie.png" alt="" id="escanear">
              <a href="https://app.picpay.com/user/yoshizaki/70.0" class="pix-link-button"><button class="pague-aqui"> pague aqui</button></a>
            </div>
          </div>
        </div>

<script>
    function abrir(id) {
      document.getElementById(id).style.display = 'block';
    }

    function fecha(id) {
      document.getElementById(id).style.display = 'none';
    }
</script>
<script src="/JS/User.js"></script>