footer {
    position: relative;
    max-height: fit-content;
    height: fit-content;
    min-height: unset;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100%;
}

.inst-holder {
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: justify;
    line-height: 3rem;
    font-size: 1.75rem;
    width: 80%;
}
.inst-holder h2 {
    margin-bottom: .5rem;
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
}
@media (max-width:475px) {
    .inst-holder p{

        text-align: center;
    }
}